@{
    ViewData["Title"] = "Blog Page";
}
<head>
    <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
</head>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="blog-holder container col d-flex flex-column align-items-center pb-5 d-sm-flex justify-content-sm-center mt-4 me-4 border border-light-subtle rounded-2">
            <div class="blog-picture w-lg-50">
                <img src="~/Image/blog-4_405x.webp" alt="img" />
                <div class="blog-description w-lg-50 pt-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae eum
                    dicta aperiam quasi ullam optio deserunt impedit harum, voluptas
                    perspiciatis culpa sit, aliquam laboriosam, minus excepturi minima
                    velit laudantium dolores.
                </div>
                <div class="blog-button w-100 pt-3">
                    <button class="btn btn-outline-primary w-100">
                        Hello there!
                    </button>
                </div>
            </div>
        </div>
        <div class="blog-holder container col d-flex flex-column align-items-center pb-5 d-sm-flex justify-content-sm-center mt-4 me-4 border border-light-subtle rounded-2">
            <div class="blog-picture w-lg-50">
                <img src="~/Image/blog-4_405x.webp" alt="img" />
                <div class="blog-description w-lg-50 pt-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae eum
                    dicta aperiam quasi ullam optio deserunt impedit harum, voluptas
                    perspiciatis culpa sit, aliquam laboriosam, minus excepturi minima
                    velit laudantium dolores.
                </div>
                <div class="blog-button w-100 pt-3">
                    <button class="btn btn-outline-primary w-100">
                        Hello there!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-sm-flex justify-content-sm-center">
        <div class="blog-holder container col d-flex flex-column align-items-center pb-5 d-sm-flex justify-content-sm-center mt-4 me-4 border border-light-subtle rounded-2">
            <div class="blog-picture w-lg-50">
                <img src="~/Image/blog-4_405x.webp" alt="img" />
                <div class="blog-description w-lg-50 pt-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae eum
                    dicta aperiam quasi ullam optio deserunt impedit harum, voluptas
                    perspiciatis culpa sit, aliquam laboriosam, minus excepturi minima
                    velit laudantium dolores.
                </div>
                <div class="blog-button w-100 pt-3">
                    <button class="btn btn-outline-primary w-100">
                        Hello there!
                    </button>
                </div>
            </div>
        </div>
        <div class="blog-holder container col d-flex flex-column align-items-center pb-5 d-sm-flex justify-content-sm-center mt-4 me-4 border border-light-subtle rounded-2">
            <div class="blog-picture w-lg-50">
                <img src="~/Image/blog-4_405x.webp" alt="img" />
                <div class="blog-description w-lg-50 pt-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae eum
                    dicta aperiam quasi ullam optio deserunt impedit harum, voluptas
                    perspiciatis culpa sit, aliquam laboriosam, minus excepturi minima
                    velit laudantium dolores.
                </div>
                <div class="blog-button w-100 pt-3">
                    <button class="btn btn-outline-primary w-100">
                        Hello there!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-sm-flex justify-content-sm-center">
        <div class="blog-holder container col d-flex flex-column align-items-center pb-5 d-sm-flex justify-content-sm-center mt-4 me-4 border border-light-subtle rounded-2">
            <div class="blog-picture w-lg-50">
                <img src="~/Image/blog-4_405x.webp" alt="img" />
                <div class="blog-description w-lg-50 pt-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae eum
                    dicta aperiam quasi ullam optio deserunt impedit harum, voluptas
                    perspiciatis culpa sit, aliquam laboriosam, minus excepturi minima
                    velit laudantium dolores.
                </div>
                <div class="blog-button w-100 pt-3">
                    <button class="btn btn-outline-primary w-100">
                        Hello there!
                    </button>
                </div>
            </div>
        </div>
        <div class="blog-holder container col d-flex flex-column align-items-center pb-5 d-sm-flex justify-content-sm-center mt-4 me-4 border border-light-subtle rounded-2">
            <div class="blog-picture w-lg-50">
                <img src="~/Image/blog-4_405x.webp" alt="img" />
                <div class="blog-description w-lg-50 pt-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae eum
                    dicta aperiam quasi ullam optio deserunt impedit harum, voluptas
                    perspiciatis culpa sit, aliquam laboriosam, minus excepturi minima
                    velit laudantium dolores.
                </div>
                <div class="blog-button w-100 pt-3">
                    <button class="btn btn-outline-primary w-100">
                        Hello there!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
